.navbar {
  position: fixed;        
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  

  display: flex;
  align-items: center;


  
}

.brand {
  font-size: 2.5rem;
  font-weight: 700;
}
.github-str {
  position: fixed;
  top: 1.7rem;
  right: 2rem;
   display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem 1.25rem;
  border: 1px solid #ffffff;
  border-radius: 6px; 

  color: #ffffff;
  text-decoration: none;
  font-weight: 600;

  background: transparent;
  transition: background 0.2s ease, color 0.2s ease;
  
  
}
.github-str:hover {
  background: #ffffff;
  color: #000000;
}
.land {
  min-height: calc(100vh - 64px); 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40vh;
  font-size: 1.5rem;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;   /* fills screen properly */
  z-index: -1;         /* puts it behind content */
  opacity: 0.5; 
  filter: brightness(0.8);      
}

.desc {
  max-width: 65ch;   
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
}

.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  padding: 0.75rem 1.25rem;
  border: 1px solid #ffffff;
  border-radius: 6px;

  color: #ffffff;
  text-decoration: none;
  font-weight: 500;

  transition: all 0.2s ease;
}

.primary-btn:hover {
  background: #ffffff;
  color: #000000;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}