.navbar {
  position: fixed;        
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  

  display: flex;
  align-items: center;


  
}

.brand {
  font-size: 2.5rem;
  font-weight: 700;
}
.github-str {
  position: fixed;
  top: 1.7rem;
  right: 2rem;
   display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem 1.25rem;
  border: 1px solid #ffffff;
  border-radius: 6px; 

  color: #ffffff;
  text-decoration: none;
  font-weight: 600;

  background: transparent;
  transition: background 0.2s ease, color 0.2s ease;
  
  
}
.github-str:hover {
  background: #ffffff;
  color: #000000;
}
.land {
  min-height: 100vh;
  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  padding-top: 30vh;
  font-size: 1.5rem;      
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  padding: 0.75rem 1.25rem;
  border: 1px solid #ffffff;
  border-radius: 6px;

  color: #ffffff;
  text-decoration: none;
  font-weight: 500;

  transition: all 0.2s ease;
}

.primary-btn:hover {
  background: #ffffff;
  color: #000000;
}
